<div style="color:black;">Current Player: {{xTurn ? "X" : "O"}}</div>
<div class="container">
    <div class="divRow">
        <app-square [winColor]="winner[0]" (click)="handleSquareClick(0)" [value]="board[0]"></app-square>
        <app-square [winColor]="winner[1]" (click)="handleSquareClick(1)" [value]="board[1]"></app-square>
        <app-square [winColor]="winner[2]" (click)="handleSquareClick(2)" [value]="board[2]"></app-square>
    </div>
    <div class="divRow">
        <app-square [winColor]="winner[3]" (click)="handleSquareClick(3)" [value]="board[3]"></app-square>
        <app-square [winColor]="winner[4]" (click)="handleSquareClick(4)" [value]="board[4]"></app-square>
        <app-square [winColor]="winner[5]" (click)="handleSquareClick(5)" [value]="board[5]"></app-square>
    </div>
    <div class="divRow">
        <app-square [winColor]="winner[6]" (click)="handleSquareClick(6)" [value]="board[6]"></app-square>
        <app-square [winColor]="winner[7]" (click)="handleSquareClick(7)" [value]="board[7]"></app-square>
        <app-square [winColor]="winner[8]" (click)="handleSquareClick(8)" [value]="board[8]"></app-square>
    </div>
    <button (click)="handleReset()">Reset The Game</button>
</div>
